<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<div th:if="${appelli.size() == 0}">
		Non ci sono appelli per questo corso.
	</div>
	
	<div th:if="${appelli.size() != 0}">
		<p>Questi sono gli appelli per il corso scelto. Clicca sulla data dell'appello per vederne gli iscritti.</p>
	
		<table class="border">
			<thead>
				<tr>
					<th>Data</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="a : ${appelli}">
					<td><a th:text="${a.date}" th:href="@{/GetIscritti(appelloid=${a.id}, o=0)}"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>