<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
	href="./css/mystyle.css" th:href="@{/mystyle.css}" />
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<body >
	<div>
		<h1>Benvenuto!</h1>
		<hr class="line">
	
		<form action="CheckLogin" method="POST">
			Username: <input type="text" name="username" required> <br>
			Password: <input type="password" name="pwd" required><br>
			<input type="submit" value="login">
			<p th:text=" ${errorMsg}"></p>
		</form>
	</div>
	

</body>
</html>